<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188490273709-bm205i6si9r7d6fvcvkljptr4jqlsl8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188490273709-bm205i6si9r7d6fvcvkljptr4jqlsl8v</string>
	<key>API_KEY</key>
	<string>AIzaSyB9igL5n8AR3yR6MunAyBU7i2V_8Sf6hII</string>
	<key>GCM_SENDER_ID</key>
	<string>188490273709</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.livewall.todoapp.KMPToDoApp</string>
	<key>PROJECT_ID</key>
	<string>kmp-todo-be97b</string>
	<key>STORAGE_BUCKET</key>
	<string>kmp-todo-be97b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188490273709:ios:682d4279198b4d66150724</string>
</dict>
</plist>